<div class="container">
    <h1>Authors Editor</h1>
    <form #editForm = "ngForm" (ngSubmit)="onUpdate()">
      <label>Name of author:</label><br>
      <mat-form-field>
          <input matInput [(ngModel)] = "author" 
            type="text" 
            #author_name
            name = "editAuthor"
            required>
          </mat-form-field>
          <br>
          <button type="submit" class="btn btn-success">Update</button>  
    </form>
</div>
