<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLink="/books" routerLinkActive="active" >Books</a>
        <a mat-list-item routerLink="/authors" routerLinkActive="active">Authors</a>
        <!-- <a mat-list-item [routerLink]="['/temperatures',10,'London']">Tempreratures</a> -->
        <a mat-list-item [routerLink]="['/temperatures','London']">Tempreratures</a>
        <a mat-list-item routerLink="/posts" routerLinkActive="active">Posts</a>
        
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>{{title}}</span>
        <span class = "spacer"></span>
        <!-- *ngIf="(AuthService.user | async)?.uid"  -->
        <a class = "whitelink" routerLink="/sign-up"   *ngIf = "!(authService.user | async)?.uid" >SignUp </a>
        <a class = "whitelink" routerLink="/login"  *ngIf = "!(authService.user | async)?.uid"  >Login </a>
        <a class = "whitelink" (click) = "LogOut()"  *ngIf = "(authService.user | async)?.uid"  >Logout</a>     
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
      <!-- Routed components go here -->
    </mat-sidenav-content>
    
  </mat-sidenav-container>
  