<div class="container">
  <p>
    Go to Authors page: <a routerLink="/authors">Authors</a>
  </p>
  <div class="example-button-row">
    <button 
       mat-raised-button color="primary"
       [routerLink]="'/bookform'">
       Add book
    </button>
  </div>
  <mat-accordion>
    <!-- <mat-expansion-panel *ngFor = "let book of books"> -->
      <p *ngIf= "!(books$ | async)"  >Loading...</p>    <!-- מראה טעינה בזמן ש books$ -->
        <mat-expansion-panel *ngFor = "let book of books$ | async" >  <!-- רישום לאובסרבל -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{book.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      by {{book.author}}<br> book_id: {{book.key_id}}<br>
      <button mat-raised-button color="primary" (click)="deleteBook(book.key_id)" >Delete</button>
      <button mat-raised-button color="primary"  [routerLink]="'/bookform/'+book.key_id">Edit</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>




