<div class="create-form">
    <h1>Book Details:</h1>
    <form #bookForm= "ngForm" (ngSubmit)="createBooks()">
      <label><b>Book's Title:</b></label><br>
        <mat-form-field>
          <input matInput [(ngModel)] = "title" 
            type="text" 
            #title_name
            name = "newTitle"
            placeholder="Book's title"
            required>
        </mat-form-field>
        <br><br>
        <label><b>Name of author:</b></label><br>
        <mat-form-field>
            <input matInput [(ngModel)] = "author" 
              type="text" 
              #author_name
              name = "newAuthor"
              placeholder="Author's name"
              required>
          </mat-form-field>
          <br>
          <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!bookForm.valid">{{buttonText}}</button>
    </form>
</div>
