  <mat-list role="list" *ngFor="let author of typesOfAuthors">
    <ul>
      {{author.name}} <a [routerLink]="['/authorsform', author.id, author.name]" routerLinkActive="active">Edit</a>
    </ul>   
  </mat-list>
