
<p> 
  <button mat-raised-button color="primary" (click)="createPosts()" type="button" > Store to Firestore</button>
  <button mat-raised-button color="primary" [routerLink]="'/postsform'"> Add Post </button>
</p>
<mat-accordion >
      <p *ngIf= "!(postsData$ | async)"  >Loading...</p>    
        <mat-expansion-panel *ngFor = "let post of postsData$ | async" >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <br>
          <b> <input hidden [(ngModel)] = "name" value="{{post.userName}}">By: {{post.name}} </b>
          <span style="margin-left:1em"></span>
         <input hidden [(ngModel)] = "title" value="{{post.title}}"> {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header> 
      <input hidden [(ngModel)] = "body" value="{{post.body}}"> {{post.body}}   
      <button mat-raised-button color="primary" (click)="deletePosts(post.postID)" >Delete</button>
      <button mat-raised-button color="primary"  [routerLink]="'/postsform/'+post.postID">Edit</button>
    </mat-expansion-panel>
  </mat-accordion>
