<p>
      Go to Books page: <a routerLink="/books">Books</a><br><br>
      To edit authors: <a routerLink="/editauthor">Edit Authors</a>
  </p>
  <p *ngIf= "!(authors$ | async)"  >Loading...</p>    <!-- מראה טעינה בזמן ש books$ -->
  <mat-selection-list #authors>
    <mat-list-option *ngFor="let author of authors$ | async" >
      {{author.name}}
    </mat-list-option>
  </mat-selection-list>
  
  <p>
    Number of authours selected: {{authors.selectedOptions.selected.length}}
  </p>

  