<div class="create-form">
    <h1>Post Details:</h1>
    <form #postsForm= "ngForm" (ngSubmit)="createPosts()">
        <label><b>User of the post:</b></label><br>
        <mat-form-field>    
            <input matInput [(ngModel)] = "name" 
              type="text" 
              #user_name
              name = "newName"
              placeholder="Post's user name"
              required>
          </mat-form-field>
          <br><br>
      <label><b>Post's Title:</b></label><br>
        <mat-form-field>
          <input matInput [(ngModel)] = "title" 
            type="text" 
            #title_name
            name = "newTitlePost"
            placeholder="Post's title"
            required>
        </mat-form-field>
        <br><br>
        <label><b>Post's Body:</b></label><br>
        <mat-form-field>
            <input matInput [(ngModel)] = "body" 
            type="text" 
            #body_post
            name = "newPostBody"
            placeholder="Post's body"
            required>
          </mat-form-field>
          <br><br>
          
          <br>
          <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!postsForm.valid"> {{buttonText}}</button>
    </form>
</div>
